@use "vars";

@mixin rules {
  .navigation-sidebar row {
    border-radius: vars.$radius-row;
  }

  .navigation-sidebar row:hover {
    background-image: linear-gradient(to bottom, vars.$hover, vars.$hover-dim);
  }

  .navigation-sidebar row:selected {
    background-color: transparent;
    background-image: linear-gradient(to bottom, vars.$selected, vars.$selected-dim);
    border: 1px solid vars.$selected-border;
    box-shadow: 0px 1px 1.1px 0.9px vars.$selected-inset inset;
    box-shadow: 0px 0.9px 0px 0px rgba(255, 255, 255, 0.1);
  }
}
