@use "vars";

@mixin rules {
    window:not(.ptyxis-window) {
        background-color: rgba(25, 25, 25, 0.8);
    }

    .icon-listbox,
    notebook>stack {
        background: vars.$surface;
    }

    sheet {
        border: 1px solid black;
        background-color: vars.$bg;
    }

    .content-pane {
        background-color: vars.$bg;
    }

    .sidebar-pane,
    .sidebar {
        background-color: transparent;
    }

    popover>* {
        background-color: vars.$bg;
    }
}
