@mixin rules {
  .close image,
  .minimize image,
  .maximize image {
    background: radial-gradient(73.84% 80% at 50% 80%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
    box-shadow: inset 0px -1px rgba(255, 255, 255, 0.15), 0px 1px 0.2px 0px #00000036 inset;
    transition: background ease 0.3s;
  }

  .close:hover image,
  .minimize:hover image,
  .maximize:hover image {
    background: radial-gradient(73.84% 80% at 50% 80%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%), radial-gradient(at bottom center, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.1) 50%);
  }
}
